
* {
  border: 1px solid pink;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

#img-div {
  width: 75vw; /* viewport width  */
  margin: auto;
}
    
#image {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  text-align: left;
}