
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}

h1 + p {
  margin-top: 1vh;
  margin-bottom: 3vh;
}
#main {
  background-color: orange;
  display: flex;
  flex-direction: column;

}
#img-div {
  width: 75vw; /* viewport width  */
  margin: auto;
  font-size: 0.7em;
}
    
#image {
  display: block;
  max-width: 100%;
  height: auto;
}

#tribute-info {
  box-sizing: border-box;
  width: 75vw;
  margin: auto;
  text-align: left;
  background-color: #eee;
  padding: 5vw;
  padding-top: 0;
  padding-left: 0;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#tribute-info h2 {
  padding-left: 3vw;
}

#tribute-info li {
  font-size: 0.9em;
}

footer {
  width: 75vw;
  margin: auto;
}